.btn-drop{
    text-align: left;
    transform: translate(53%,-0%);
    width: 227px;
    color: #575757;
    border: 1px solid #cfcfcf;
    background-color: transparent !important;
    margin-top: 10px;
  }
  .btn-drop:hover{
    border: 1px solid rgb(0, 180, 180);
  }
