<div class="container style-container">
    <div class="row mt-2">
        <div class="col-md-2">
            <button type="button" class="link link-four pulse-grow-on-hover" data-toggle="modal" data-target="#modelId">Add New</button>
        </div>
        <div class="col-md-8">
            <h2 class="headings"><span>L</span>ife <span>E</span>vent</h2>
        </div>
        <div class="col-md-2">

        </div>
            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            
                            <h5 class="modal-title">
                                <ng-template [ngIf]="updateOption===null">Add Life Event</ng-template>
                                <ng-template [ngIf]="updateOption!=null">Update Life Event</ng-template>
                            </h5>
                            <button type="button"class="close" data-dismiss="modal" aria-label="Close" (click)="changeHeading()"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form action="" [formGroup]="lifeEventForm">
                                <div class="form-group row ">
                                    <div class="col-md-12 dropdowns">
                                        <div class="dropdown open">
                                            <button class="btn dropdown-toggle btn-drop" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedDoggo.doggoName}}</button>
                                            <div class="dropdown-menu" aria-labelledby="triggerId" style="height: 200px !important; min-width: 50% !important; overflow-x: hidden !important;">
                                                <button class="dropdown-item" *ngFor="let d of doggos" (click)="getDoggoId(d)">{{d.doggoId}} - {{d.doggoName}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-8">
                                        <div class="dropdown open">
                                            <button class="btn dropdown-toggle btn-drop" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedIcon.iconSrcUrl}}</button>
                                            <div class="dropdown-menu" aria-labelledby="triggerId" style="height: 200px !important; min-width: 50% !important; overflow-x: hidden !important;">
                                                <button class="dropdown-item" *ngFor="let i of icons" (click)="getIconId(i)">{{i.iconSrcUrl}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="main_div">
                                        <div class="group">
                                            <input type="text" required="required" class="form-control" id="lifeEventName" formControlName="lifeEventName"/>
                                            <label>Life Event Name</label>
                                          </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="main_div">
                                        <div class="group">
                                            <input type="text" required="required" class="form-control" id="lifeEventDate" formControlName="lifeEventDate"/>
                                            <label>Life Event Date</label>
                                          </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-save"  data-dismiss="modal"  (click)="onFormSubmit()" [disabled]="!lifeEventForm.valid">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Doggo Id</th>
                        <th>Icon Id</th>
                        <th>Life Event Name</th>
                        <th>Life Event Date</th>
                        <th>Life EventDate Created</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let le of lifeEvents">
                        <td>{{le.lifeEventId}}</td>
                        <td>{{le.doggoId}}</td>
                        <td>{{le.iconId}}</td>
                        <td>{{le.lifeEventName}}</td>
                        <td>{{le.lifeEventDate}}</td>
                        <td>{{le.lifeEventDateCreated}}</td>
                        <td>
                            <button class="btn btn-update link2 link-four pulse-grow-on-hover" (click)="loadFormToEdit(le.lifeEventId)" data-toggle="modal" data-target="#modelId"><fa-icon [icon]="pencil"></fa-icon></button>
                            <button class="btn btn-danger link3 link-four pulse-grow-on-hover" (click)="deleteLifeEvent(le.lifeEventId)"><fa-icon [icon]="trash"></fa-icon></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        
    </div>
</div>