

a {
    color: darkblue;
  }
  .navbar{
    color: black !important;
    background-color: transparent !important;
    min-width: 100% !important;
    font-style: normal black !important;
    font-family: 'Poppins', sans-serif;  }
  .nav-item{
    color: rgb(44, 44, 44) !important;
    font-family: 'Poppins', sans-serif;  }
  .navbar-brand{
    color: white !important;
    font-family: 'Poppins', sans-serif;    
    text-transform: uppercase !important;
    padding-right: 120px !important;
    font-size: 20px !important;
  }
  img{
      height: 70px !important;
  }
  .collaps-nav{
  margin-top: 20px !important;
  }
  .navbar-nav{
    color: white !important;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -10px !important;
  }
  .nav-link{
    color: rgb(41, 41, 41) !important;
    font-family: 'Poppins', sans-serif;
  }
  .dropdown-menu{
    background-color: #ffffff !important;
    color: rgb(41, 41, 41) !important;
    font-family: 'Poppins', sans-serif;
  }
  .dropdown-item{
    color:  rgb(41, 41, 41) !important;
    font-family: 'Poppins', sans-serif;
  }
  .dropdown-item:hover{
    color:  rgb(255, 255, 255) !important;
    background-color: teal;
  }
  .modal-header{
    background-color: #23779a !important;
    font-family: 'Poppins', sans-serif;
  }
