<div class="container style-container">
    <div class="row mt-2">
        <div class="col-md-2">
            <button type="button" class="link link-four pulse-grow-on-hover" data-toggle="modal" data-target="#modalId" (click)="setHeading()">Add New</button>
        </div>
        <div class="col-md-8">
            <h2 class="headings"><span>D</span>oggo</h2>
        </div>
        <div class="col-md-2">
            
        </div>
        
        <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <ng-template [ngIf]="doggoUpdate===null">Add Doggo</ng-template>
                            <ng-template [ngIf]="doggoUpdate!=null">Update Doggo</ng-template>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="setHeading()"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form action="" [formGroup]="doggoForm">
                            <div class="form-group row">
                                <div class="main_div">
                                    <div class="group">
                                        <input type="text" class="form-control" name="DoggoName" id="DoggoName" formControlName="DoggoName" required/>
                                        <label>Doggo Name</label>
                                        
                                    </div>
                                  </div>
                            </div>
                            <div class="form-group row">
                                <div class="main_div">
                                    <div class="group">
                                        <input type="text" class="form-control" name="DoggoProfilePic" id="DoggoProfilePic" formControlName="DoggoProfilePic" required/>
                                        <label>Doggo Profile Pic</label>
                                        
                                    </div>
                                  </div>
                            </div>
                            <div class="form-group row">
                                <div class="main_div">
                                    <div class="group">
                                        <input type="text" required="required" class="form-control"id="DoggoDescription" formControlName="DoggoDescription"/>
                                        <label>Doggo Description</label>
                                    </div>
                                  </div>
                            </div>
                            <div class="form-group row">
                                <div class="main_div">
                                    <div class="group">
                                        <input type="text" required="required" class="form-control"id="DoggoNickname" formControlName="DoggoNickname"/>
                                        <label>Doggo Nickname</label>
                                    </div>
                                  </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-save"id="btn-save"  data-dismiss="modal"  (click)="onFormSubmit()" [disabled]="!doggoForm.valid">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="min-width: 100% !important;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Doggo Name</th>
                        <th>Doggo Profile Pic</th>
                        <th>Doggo Description</th>
                        <th>Doggo Nickname</th>
                        <!-- <th>Doggo Date Created</th> -->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="justify-content-center">
                    <tr *ngFor="let doggo of doggos">
                        <td>{{doggo.doggoId}}</td>
                        <td>{{doggo.doggoName}}</td>
                        <td class="doggoimg">
                            <img src="{{doggo.doggoProfilePic}}" alt="">
                        </td>
                        <td>{{doggo.doggoDescription}}</td>
                        <td>{{doggo.doggoNickname}}</td>
                        <!-- <td>{{doggo.doggoDateCreated}}</td> -->
                        <td>
                            <button type="button" class="btn btn-update link2 link-four pulse-grow-on-hover" data-toggle="modal" data-target="#modalId" (click)="updateDoggo(doggo.doggoId)"><fa-icon [icon]="pencil"></fa-icon></button>  
                            <button type="button" class="btn btn-danger link3 link-four pulse-grow-on-hover" (click)="deleteDoggo(doggo.doggoId)"><fa-icon [icon]="trash"></fa-icon></button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>